.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
}
.left {
    width: 92px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4468E2;
    cursor: pointer;
}
.center  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.buttonconnect {
    width: 104px;
    height: 34px;
    background-color: #4468E2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-color: #4468E2;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
}
.center li{
    /* width: 598px;
    height: 30px; */
    font-size: 22px;
    color: #1C4961;
    opacity: 0.75;
}
.center li:hover {
    color: #1C4961;
    opacity: 1;
    cursor: pointer;
}
header {
    width: 92%;
    margin: 0 auto;
}
.center {
    width: 35%;
    margin: 0 auto;
}
section {
    background-image: url(../images/lalo-hernandez-Amo081zdJsI-unsplash.png);
    width: 1766.4px;
    height: 608px;
    background-position: center;
    background-size: cover;
    overflow: auto;
    border-radius: 10px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    
}
.blur {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.travel {
    color: #FFFFFF;
    font-size: 50px;
    padding-bottom: 12.9px;
    width: 30%;
    margin: 0 auto;

}
.descr {
    width: 522px;
    color: #FFFFFF;
    font-size: 22px;
    padding-bottom: 39px;
    width: 30%;
    margin: 0 auto;
}
.explore {
    width: 876px;
    height: 89px;
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}
.p1 {
    font-size: 20px;
}
.p2 {
    font-size: 16px;
}
.go {
    padding-right:px;
    border-right: 1px solid #B4C6EE;
    width: 252px;
    cursor: pointer;
    width: 22%;
    margin: 0 auto;
}
.in {
    width: 130px;
    border-right: 1px solid #B4C6EE;
    cursor: pointer;
    width: 22%;
    margin: 0 auto;
}
.out {
    cursor: pointer;
    width: 22%;
    margin: 0 auto;
}
.exp {
    width: 187px;
    height: 63px;
    background-color: #4468E2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-color: #4468E2;
    cursor: pointer;
    font-size: 21px;
    width: 22%;
    margin: 0 auto;
}
.cards1 {
    width: 92%;
    margin: 0 auto;
    padding-top: 178px;
    padding-bottom: 178.6px;
    display: flex;
    justify-content: space-between;
}
.imgbox1 {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon1 {
    padding-top: 29px;
    padding-left: 26px;
}
.get {
    font-size: 24px;
    padding-top: 11px;
    padding-left: 26px;
}
.pay {
    font-size: 20px;
    padding-top: 23px;
    padding-left: 26px;
}
.bestprices {
    width: 369px;
    height: 293.4px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 0;
    cursor: pointer;
}
.bestprices:hover {
    box-shadow: 8px 8px #EBF0FE;
}
.imgbox2 {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon2 {
    padding-top: 29px;
    padding-left: 26px;
}
.safe {
    font-size: 24px;
    padding-top: 11px;
    padding-left: 26px;
}
.we {
    font-size: 20px;
    padding-top: 23px;
    padding-left: 26px;
}
.covid {
    width: 369px;
    height: 293.4px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 0;
    cursor: pointer;
}
.covid:hover {
    box-shadow: 8px 8px #EBF0FE;
}
.imgbox3 {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon3 {
    padding-top: 29px;
    padding-left: 26px;
}
.flex {
    font-size: 24px;
    padding-top: 11px;
    padding-left: 26px;
}
.enjoy {
    font-size: 20px;
    padding-top: 23px;
    padding-left: 26px;
}
.payment {
    width: 369px;
    height: 293.4px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 0;
    cursor: pointer;
}
.payment:hover {
    box-shadow: 8px 8px #EBF0FE;
}
.imgbox4 {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon4 {
    padding-top: 29px;
    padding-left: 26px;
}
.find {
    font-size: 24px;
    padding-top: 11px;
    padding-left: 26px;
}
.places {
    font-size: 20px;
    padding-top: 23px;
    padding-left: 26px;
}
.best {
    width: 369px;
    height: 293.4px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 0;
    cursor: pointer;
}             
.best:hover {
    box-shadow: 8px 8px #EBF0FE;
}           
