.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
}
.left {
    width: 92px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4468E2;
    cursor: pointer;
}
.center  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.buttonconnect {
    width: 104px;
    height: 34px;
    background-color: #4468E2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-color: #4468E2;
    cursor: pointer;
    animation-name: box;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes box {
    form {background-color: #4468E2;}
    to {background-color: black;}
} 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
    width: 92%;
    margin: 0 auto;
}
.center li{
    /* width: 598px;
    height: 30px; */
    font-size: 22px;
    color: #1C4961;
    opacity: 0.75;
}
.center li:hover {
    color: #1C4961;
    opacity: 1;
    cursor: pointer;
}
.center {
    width: 35%;
    margin: 0 auto;
}
.firstsection {
    background-image: url(../images/lalo-hernandez-Amo081zdJsI-unsplash.png);
    width: 1766.4px;
    height: 608px;
    background-position: center;
    background-size: cover;
    overflow: auto;
    border-radius: 10px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    
}
.blur {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.travel {
    color: #FFFFFF;
    font-size: 50px;
    padding-bottom: 12.9px;
    width: 30%;
    margin: 0 auto;

}
.descr {
    width: 522px;
    color: #FFFFFF;
    font-size: 22px;
    padding-bottom: 39px;
    width: 30%;
    margin: 0 auto;
}
.explore {
    width: 876px;
    height: 89px;
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}
.p1 {
    font-size: 20px;
}
.p2 {
    font-size: 16px;
}
.go {
    padding-right:px;
    border-right: 1px solid #B4C6EE;
    width: 252px;
    cursor: pointer;
    width: 22%;
    margin: 0 auto;
}
.in {
    width: 130px;
    border-right: 1px solid #B4C6EE;
    cursor: pointer;
    width: 22%;
    margin: 0 auto;
}
.out {
    cursor: pointer;
    width: 22%;
    margin: 0 auto;
}
.exp {
    width: 187px;
    height: 63px;
    background-color: #4468E2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-color: #4468E2;
    cursor: pointer;
    font-size: 21px;
    width: 22%;
    margin: 0 auto;
}
.cards1 {
    width: 92%;
    margin: 0 auto;
    padding-top: 178px;
    padding-bottom: 178.6px;
    display: flex;
    justify-content: space-between;
}
.imgbox1 {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon1 {
    padding-top: 29px;
    padding-left: 26px;
}
.get {
    font-size: 24px;
    padding-top: 11px;
    padding-left: 26px;
}
.pay {
    font-size: 20px;
    padding-top: 23px;
    padding-left: 26px;
}
.bestprices {
    width: 369px;
    height: 293.4px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 0;
    cursor: pointer;
}
.bestprices:hover {
    box-shadow: 8px 8px #EBF0FE;
}
.imgbox2 {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon2 {
    padding-top: 29px;
    padding-left: 26px;
}
.safe {
    font-size: 24px;
    padding-top: 11px;
    padding-left: 26px;
}
.we {
    font-size: 20px;
    padding-top: 23px;
    padding-left: 26px;
}
.covid {
    width: 369px;
    height: 293.4px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 0;
    cursor: pointer;
}
.covid:hover {
    box-shadow: 8px 8px #EBF0FE;
}
.imgbox3 {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon3 {
    padding-top: 29px;
    padding-left: 26px;
}
.flex {
    font-size: 24px;
    padding-top: 11px;
    padding-left: 26px;
}
.enjoy {
    font-size: 20px;
    padding-top: 23px;
    padding-left: 26px;
}
.payment {
    width: 369px;
    height: 293.4px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 0;
    cursor: pointer;
}
.payment:hover {
    box-shadow: 8px 8px #EBF0FE;
}
.imgbox4 {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon4 {
    padding-top: 29px;
    padding-left: 26px;
}
.find {
    font-size: 24px;
    padding-top: 11px;
    padding-left: 26px;
}
.places {
    font-size: 20px;
    padding-top: 23px;
    padding-left: 26px;
}
.best {
    width: 369px;
    height: 293.4px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 0;
    cursor: pointer;
}             
.best:hover {
    box-shadow: 8px 8px #EBF0FE;
}       
.satauri1 {
    font-size: 40px;
    padding-bottom: 79px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}    
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    font-size: 26px;
    padding-bottom: 65px;
}
.nav p:hover {
    border-bottom: 5px solid #163235;
}
.nav p {
    border-bottom: 5px solid white;
    cursor: pointer;
}
.cards2 {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.singapore {
    width: 27%;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}
.down{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.up {
    width: 100%;
    margin: 0 auto;
    /* position: relative; */
}
.up img {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    /* position: absolute; */
}
.up h3 {
    font-size: 38px;
    margin-bottom: 14px;
}
.up p {
    font-size: 26px;
    margin-bottom: 35px;
}
.appr p:first-child {
    font-size: 31px;
    padding-bottom: 12px;
}
.appr p:nth-child(2) {
    font-size: 22px;
}
.kms img {
    padding-right: 10px;
    padding-bottom: 12px;
}
.kms p {
    font-size: 22px;
}
.cards3 {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.singapore:hover {
    box-shadow: 8px 8px #EBF0FE;
}
.blog {
    font-size: 40px;
    padding-bottom: 73px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.mount {
    background-image: url(../images/NoPath.png);
    width: 55%;
    margin: 0 auto;
    height: 587px;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}
.mount p {
    width: 468px;
    font-size: 50px;
    color: #FFFFFF;
}
.traveler {
    background-image: url(../images/eva-darron-oCdVtGFeDC0-unsplash.png);
    width: 100%;
    margin: 0 auto;
    height: 277px;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}
.female {
    background-image: url(../images/ibrahim-rifath-Y6tBl0pTe-g-unsplash.png);
    width: 100%;
    margin: 0 auto;
    height: 277px;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}
.cards4 {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 172px;
}
.things {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.things div {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
}
.happy {
    font-size: 40px;
    padding-bottom: 73px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.customers {
    display: flex;
    width: 92%;
    margin: 0 auto;
    padding-bottom: 191px;
}
.left1 {
    width: 45%;
    margin: 0 auto;
    display: flex;
    gap: 24px;

}
.bottom {
    display: flex;
    padding-top: 50px;
}
.bottom p {
    padding-left: 26px;
}
.bottom p:first-child {
    padding-top: 30px;
    font-size: 28px;
}
.lorem p:first-child {
    font-size: 26px;
}
footer {
    width: 92%;
    margin: 0 auto;
    background-color: #E1E8F8;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 178px;
}
.center2  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.center2 {
    width: 30%;
    margin: 0 auto;
}
.left2 {
    width: 30%;
    margin: 0 auto;
}
.right2 {
    width: 15%;
    margin: 0 auto;
}
.anime {
    /* position: relative; */
}
.anime img {
    /* position: absolute; */
}
.topp {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }